.login__btn,
.secondary__btn,
.primary__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: green;

  &:hover {
    background-color: seagreen;
    cursor: pointer;
  }
}
.secondary__btn {
  background-color: #4285f4;
  &:hover {
    background-color: steelblue;
    cursor: pointer;
  }
}
