.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fffef0;
  border: 0.5px solid darkolivegreen;
  border-radius: 5px;
  padding: 25px;
}

.dashboard div {
  margin-top: 7px;
}
