.auth {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  div {
    margin-top: 7px;
  }
}

.auth__message {
  font-size: 14px;
}

.auth__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fffef0;
  border: 0.5px solid darkolivegreen;
  border-radius: 5px;
  padding: 25px;
}

.auth__textBox-error {
  border-color: red;
}

.auth__link {
  color: #4285f4;
  &:active {
    color: steelblue;
  }
}
