.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  border-radius: 5px;
  border: 0.5px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-container:focus-within label {
  transform: translate(0, 10px) scale(0.6);
  color: black;
}

.input-container .filled {
  transform: translate(0, 10px) scale(0.6);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 16px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  left: 16px;
}

.input-container input {
  height: 24px;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  background-color: rgba(26, 25, 25, 0.33);
}

.input-container input:focus {
  box-shadow: 0 0 0 1px darkolivegreen;
}
