.logged-out {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.logged-out__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fffef0;
  border: 0.5px solid darkolivegreen;
  border-radius: 5px;
  padding: 25px;
}

.logged-out div {
  margin-top: 7px;
}
.logged-out__message {
  padding-bottom: 20px;
  font-weight: 600;
}
